.footer_fill {
	background-color: #d0d1d3;
	
}
.visoes_title {
	text-align: center;
	color: #888;
	font-size: 2.0em;
}

.botao_menu:hover {border: 1px solid #666; box-shadow: 0 0 10px #000;}
.botao_menu {
	/*cursor: pointer; // só esta confundindo com o link de verdade */
	border: 1px solid #888;
	width: 160px;
	/*padding: 10px;*/
	margin-right: 2px;
	background-color: white;
	float: left;
	border-radius: 10px; 
	
	color: #DDD;	
	text-shadow: 0 0 2px #222;
}
.visao-1, .menu-1 {background-color: #4c8ecb;}
.visao-2, .menu-2 {background-color: #65b497;}
.visao-3, .menu-3 {background-color: #be526c;}
.visao-4, .menu-4 {background-color: #7A5AA5;}
.visao-5, .menu-5 {background-color: #E98537;}
.botao_menu a {width: 140px; display: block;padding: 10px}
.botao_menu a, .botao_menu a:hover, .botao_menu a:visited {
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color: #FFF;
}
body {
	font-family: Verdana,'Times New Roman',sans-serif,serif;
}
.subtitulo {
	color: #888;
	height: 60px;
	line-height: 1.4em;
}

.propostas .botao_menu , .diretrizes .botao_menu {
	width: 138px;
	margin-bottom: 20px;
}
.propostas .botao_menu a, .diretrizes .botao_menu a {
	width: 115px;
	font-size: 0.9em;
	color: #000;
	text-shadow: 0 0 2px #666;	
}
 
.visao-1.active {background-color: #82a8cc;}
.visao-2.active {background-color: #80C477;}
.visao-3.active {background-color: #FF546D}
.visao-4.active {background-color: #9A8ADF;}
.visao-5.active {background-color: #EFA539;}

footer {
	margin-top: 0;
	border: 0;
	margin-bottom: 30px;
}
.container > footer p {
	text-align: center; /* center align it with the container */
}

div.documento {margin-right: 20px}
div.documento h1 {
	font-size: 22px;
	text-align: center;
}
div.documento p {
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	text-align: justify;
}
div.documento span.date {
	float: right;
	font-size: 0.8em;
	padding-left: 30px;
}

div.menu_visoes {
	margin-top: 20px;
	margin-bottom: 40px;
}
div.active-1 .menu-1,
div.active-2 .menu-2,
div.active-3 .menu-3,
div.active-4 .menu-4,
div.active-5 .menu-5 	{
	border-bottom: 7px solid #888;
}
div.menu_visoes div.botao_menu {
	text-transform: uppercase;
}
/* culpe o desgracado do bootstrap por ligar o transition em tudo! */
.btn,input,textarea{
	-webkit-transition:0.1s linear background-position;
	-moz-transition:0.1s linear background-position;
	-ms-transition:0.1s linear background-position;
	-o-transition:0.1s linear background-position;
	transition:0.1s linear background-position;
}
select { background-color: white }
h3.indicadores,ul.indicadores li b {color: #666;}
ul.indicadores li {margin-bottom: 2em;}

ul.indicadores li {color: #000;}