<!DOCTYPE html>
<html>
<head>
<title>[% title or 'São Paulo 2022' %]</title>
<meta name="author" content="Comunidade Perl Mongers">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="[% c.uri_for('/static/css/bootstrap.1.4.0.min.css') %]">
<link rel="stylesheet" href="[% c.uri_for('/static/css/custom.css') %]">
[%IF admin%]
<link rel="stylesheet" href="[% c.uri_for('/static/css/admin.css') %]">
[%END%]
</head>
<body>
[%IF admin%]
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand" href="[%c.uri_for('/admin')%]">RNSP</a>
			<ul class="nav">
				[% IF c.user_exists%]
					[%PROCESS admin/menu.tt%]
				[%ELSE%]
					<li class="active"><a href="[%c.uri_for('/admin/login')%]">Login</a></li>
				[% END %]
			</ul>
			[% IF c.user_exists%]
			<ul class="nav secondary-nav">
				<li><a href="[%c.uri_for('/admin/logout')%]">Sair</a></li>
			</ul>
			[% END %]
		</div>
	</div>
</div>
<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>[%title or 'Administração'%][%IF titlep%] <small>[%titlep%]</small>[%END%]</h1>
		</div>
		[% content | none %]
	</div>
</div>

[%ELSE%]
<div class="container">
	<div class="content">
		<div class="page-header">
			<img src="[%c.uri_for('/static/images/topo.png')%]"  alt="São Paulo 2022" height="258" width="940" /> <!-- TODO redimencionar a imagem para 940px / remover search box da imagem ? vai exitir search? -->
		</div>
		[% PROCESS 'visoes.tt' %]
		[% content | none %]
	</div>
</div>
[%END%]
<div class="fill footer_fill">
	<div class="container">
		<footer>
			<a href="[%c.uri_for('/')%]">O que é São Paulo 2022</a> | 
			<a href="http://brasil.pm.org/">Desenvolvido por Perl Mongers</a>
		</footer>
	</div>
</div>
[%IF admin%]
<script src="/static/script/jquery.js"></script>
<script src="/static/script/menu.js"></script>
[%END%]
</body>
</html> 