<div class="row">
	<div class="span3">
		[%PROCESS diretriz.tt%]
	</div>
	<div class="span10">

		[%PROCESS documento.tt%]

		[%IF proposta.boas_praticas %]
			<hr/>
			<h3 class="indicadores">Boas Práticas</h3>
			<ul>
			[%FOREACH i = proposta.boas_praticas %]
				<li><b>[%i.titulo%]</b><p>  [%i.texto%] </p></li>
			[%END%]
			</ul>
		[%END%]
		
	</div>
	<div class="span3">
		[%PROCESS proposta.tt%]
	</div>
</div>