<div class="row">
	<div class="span3">
		[%PROCESS diretriz.tt%]
	</div>
	<div class="span10">
		[%PROCESS documento.tt%]

		[%IF diretriz.indicadores %]
			<hr/>
			<h3 class="indicadores">Indicadores</h3>

			<ul class="indicadores">
			[%FOREACH i = diretriz.indicadores %]
				<li><p>[%i.descricao%]</p><p><b>META: </b>[%i.meta%]<p></li>
			[%END%]
			</ul>
		[%END%]
	</div>
	<div class="span3">
		[%PROCESS proposta.tt%]
	</div>
</div>