<div class="documento">
	<h1>[% documento.titulo %]</h1>
	<span>[%documento.created_at%]</span>
	[%- USE HTML::BBCode( 'bbcode_limited' allowed_tags = [] stripscripts => 1 linebreaks = 1  ) -%]
	<p>
	[% FILTER bbcode_limited %][%documento.texto%][% END %]
	</p>

</div>

